
* {
  margin:0;
  padding:0;
}


/* 내비게이션 */
a:link, a:hover, a:visited {
  color:#fff;
  text-decoration:none;
  text-shadow:1px 1px 0 #283744;
}
nav {
  width:100vw;
  height:auto;
  background:#34495e;
  font-size:1.2em;
  font-weight:bold;
  position:relative;
}
nav ul {
  display: none;
  height: auto;
}
nav ul li {
  display: block;
  width: 100%;
  text-align:center;
  border-bottom: 1px solid #576979;
}
nav ul li a {
  line-height:50px;
}      
nav a#trigger {
  display:block;
  background-color:#283744;
  width:100%;
  padding-left:15px;
  line-height:40px;    
  position:relative;
}

@media screen and (min-width:764px) {
  nav {
    height: 80px;
    border-bottom:2px solid #34495e;
  }
  nav ul {
    list-style: none;
    display:block;
    width:750px;
    height:80px;
    padding: 0;
    margin:0 auto;        
    display:flex;
    justify-content: space-around;
  }
  nav ul li {
    flex:1;
    flex-basis:22%;;   
    border-bottom:0;
    border-right: 1px solid #576979;        
    margin-right:-6px;
  }
  nav ul li:last-child {
    border-right: 0;
  } 
  nav ul li a{
    font-size:1em;
    line-height:80px;
  }
  nav a#trigger {
    display: none;
  }          
}

/* 섹션 */
section {
  width:100vw;
  position:relative;
}
section:nth-child(odd) {
  background-color:#f3f3f4;
}
.section-title {
  margin:30px auto 50px auto;
}
.section-title h3{
  font-size:1.8em;
  text-align: center;
}
.wrapper {
  padding-top:60px;
  padding-bottom:40px;
  background:transparent;
}


/*  헤더 */ 
.banner {
  max-width:1300px;
  margin:0 auto;  
}


/* 코딩 영역 */
.about{
  line-height:1.8;
  padding:20px 50px;
}
.msg p {
  color: #ff6600;
  font-size:1.4em;
  font-style: italic;
  text-align:center;
  line-height:1.8;
  margin-bottom:20px;
}
.msg span {
  font-size:0.9em;
  color:#aaa;
}


/* 왜 코딩 교육? 영역 */
.intro {
  padding:20px 50px;
}
.text {
	padding-left:50px;
	padding-right:50px;
}
.text h3 {
  font-size:1.6em;
  margin-bottom:50px;  
}
.text p {
  font-size:1.2em;
  line-height: 1.8;
}
.img {
	text-align:center;
  display:none;
}


/* 교육 프로그램 영역 */
.program-list{
  padding:20px 50px;
}
.program-list h4{
  font-size:1.3em;
  margin-bottom:20px;
}
.program{
  padding:30px;
  box-sizing:border-box;
  margin-bottom:20px;
  background-color:#fff;
  border:1px solid #aaa;  
}


/* 푸터 */
.footer {
  padding-top:30px;
  padding-bottom:50px;
  background-color:#34495e;
}
.footer-info {
  padding-left:20px;
  padding-right:20px;
}
.contact {
  color:#fff;
}
.sns {
  margin-top:50px;
}
.sns a {
  margin-right:30px;
}
.sns a:last-child {
  margin-right:0;
}

