      @import url('https://fonts.googleapis.com/css?family=Lobster');

      #videoBg {
				position:fixed;
				right:0;
				bottom:0;
				width:auto; 
				min-width:100%;
				height:auto; 
				min-height:100%;
				z-index:-100;
				background:url(../images/seagull.jpg) no-repeat;
				background-size:cover;
			}
      #container {
				position:relative;
				margin:250px auto;
				width:80%;
				height:auto;
				padding:20px;					
			}
			h1{
				font-family: 'Lobster', cursive;
        font-size:5em;
        font-weight:700;
				text-shadow:2px 2px 5px white;
			}
			@media screen and (max-width:800px){
				body {
					background:url(../images/seagull-m.jpg) no-repeat fixed center #000;	
					background-size:cover;
        }
        #videoBg {
					display:none;
				}
			}