* {
	margin:0;
	padding:0;
}
#container{
	width:100%;
	margin:0 auto;
	padding:0;
}
header {
	position:relative;
	height:130px;
	margin-bottom:0;
	
}
header > h1 {
	font-size:1.5em;
	text-align: center;
	line-height:70px;
	margin-bottom:10px;
}
nav {
	width:100%;
	height:50px;	
	padding:0;
	margin:0;
	background:#ff9100;
}
.nav-btn {
	display:inline-block;
	height:50px;
	width:20%;
	margin:0;
	line-height:50px;
}
nav a:link, nav a:visited {
	font-size:1em;
	color:#fff;
	text-decoration: none;
	text-align:center;
}
section {
	position:relative;
	width:100%;	
	margin:0 auto;
	padding:20px;
	height:800px;
	border:1px solid black;
}
section h2 {
	font-size:4em;
	color:white;
	text-shadow:1px 2px 1px black;
	line-height: 600px;
	text-align: center;
	text-transform: uppercase;
}
.page1{
	background:url('../images/eu.jpg') no-repeat center;			
	background-size:cover;
}
.page2{
	background:url('../images/us.jpg') no-repeat center;			
	background-size:cover;
}
.page3{
	background:url('../images/ch.jpg') no-repeat center;			
	background-size:cover;
}
.page4{
	background:url('../images/jp.jpg') no-repeat center;	
	background-size:cover;		
}		