* {
	margin:0;
	padding:0;
}
#container{
	width:100%;
	margin:0 auto;
	padding:0;
}
header {
	position:relative;
	height:130px;
	margin-bottom:0;
	
}
header > h1 {
	font-size:1.5em;
	text-align: center;
	line-height:70px;
	margin-bottom:10px;
}