* {
	margin:0;
	padding:0;
}
h1 {
	width:100%;
	height:150px;
	background: url('../images/top-bg.jpg') no-repeat left top;
	background-size:cover;
	line-height: 150px;
	padding-left:50px;
}
#wrapper {
	width:90%;
	max-width:1100px;
	min-width:760px;
	margin:50px auto;
}
#columns {
	-webkit-column-count:2;
	-webkit-column-gap:10px;
	-moz-column-count:2;
	-moz-column-gap:10px;
	column-count:2;
	column-gap:10px;	
}
.card {
	display:inline-block;
	width:250px;
	background:#fff;
	box-shadow:0px 1px 1px #ccc;
	padding:15px;
	padding-bottom:15px;
	margin:10px;
}
.card img {
	width:100%;
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	margin-bottom:5px;
}

.card p {
	font-family:"맑은 고딕", 돋움;
	color:#333;
	margin:0;
	padding:10px;
}
	
@media(min-width:960px){
	#columns{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:3;
	}
}

@media(min-width:1100px) {
	#columns{
		-webkit-column-count:4;
		-moz-column-count:4;
		column-count:4;
	}
}